.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  align-items: center;
  justify-content: center;
}
.contenedor2 {
  width: 90%;
  max-width: 1000px;
  margin: 0;
  padding: 0;
  margin: 4em 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;

  justify-content: center;
  text-align: center;
}
.Agent-Ability {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.ability {
  align-items: center;
  justify-content: center;
  border: 2.5px solid white;
  border-radius: 10px;
  padding: 0 1em;
  border-image: linear-gradient(180deg, white, #f0f0f0, white);
  border-image-slice: 1;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "MonaspaceKrypton";
  min-width: 280px;
}
.ability h1 {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 1em 0;
}
.ability p {
  font-size: 0.8em;
}

.trapecio {
  width: 280px;
  height: 60px;
  background-color: #cbd5e0;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
.trapecio:hover {
  background-color: #e2e8f0;
}
.trapecio-principal {
  width: 100%;
  height: 60px;
  background: linear-gradient(rgba(62, 65, 73, 0.2), rgba(62, 65, 73, 0.2));
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}
.trapecio li {
  text-align: center;
}
@font-face {
  font-family: "MonaspaceKrypton";
  src: url("./fonts/MonaspaceKrypton-Regular.woff");
}
.AgentInfo {
  border: 2.5px solid white;
  border-radius: 10px;
  padding: 15px;
  border-image: linear-gradient(180deg, white, #f0f0f0, white);
  border-image-slice: 1;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "MonaspaceKrypton";
}

.Image-Info {
  display: flex;
  width: 720px;
  height: 450px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.AgentImage {
  width: 100%;
  height: 100%;
  align-content: center;
}
.AgentImage img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 75%;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 10px white);
}

.AgentTitle h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.AgentDescription p {
  margin-top: 1em;
  align-items: center;
  align-content: center;
  height: 100%;
}
.AgentSubtitle {
  margin: 1em 0em;
  padding: 0 2em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 0;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.AgentSubtitle img {
  width: 1.5em;
  height: 1.5em;
  aspect-ratio: 1/1;
}
.contenedorSkin {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4em;
  row-gap: 8em;

  align-items: center;
  justify-content: center;
}
.contenedorSkin h1 {
  text-align: center;
  font-family: "MonaspaceKrypton";
}
.SkinBox {
  border: 5px inset aquamarine;
  border-radius: 10px;
  padding: 15px;
  min-height: 450px;
  max-height: 450px;
  position: relative;
  font-family: "MonaspaceKrypton";
}

.SkinBox h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-shadow: 0 0 15px aquamarine;
  line-height: 1.5;
}
.Box {
  border: 5px inset aquamarine;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  font-family: "MonaspaceKrypton";
}
.Box h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-shadow: 0 0 15px aquamarine;
  line-height: 1.5;
}
.ValoCard {
  min-width: 400px;
  min-height: 920px;
}
.ValoCardHeader {
  height: 180px;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ValoCardHeader h1 {
  padding: 0 1em;
}

.ValoCardContent {
  height: 800px;
  align-content: center;
}
.ValoCardContent img {
  filter: drop-shadow(5px 0px 5px #c6f6d5);
  width: 268px;
  height: 640px;
}
.Buddy {
  min-width: 400px;
  min-height: 445px;
}
.BuddyHeader {
  height: 120px;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Buddy h1 {
  padding: 0 1em;
}

.BuddyContent {
  height: 325px;
  align-content: center;
}
.BuddyContent img {
  filter: drop-shadow(5px 0px 5px #c6f6d5);
  width: 192px;
  height: 192px;
}
.Skin {
  min-width: 400px;
  min-height: 445px;
}
.SkinHeader {
  height: 120px;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Skin h1 {
  padding: 0 1em;
}

.SkinContent {
  height: 325px;
  align-content: center;
}
.SkinContent img {
  filter: drop-shadow(5px 0px 5px #c6f6d5);
  width: 420px;
  height: 100px;
}
.Curiosity p {
  position: absolute;
  bottom: 16px;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
}
.AgentImage-Ability h1 {
  text-align: center;
  font-family: "MonaspaceKrypton";
  margin-top: 2em;
  font-size: 2em;
  text-transform: uppercase;
}

.AgentImage-Ability img {
  width: 720px;
  height: 540px;
  margin-bottom: 6em;
}

.abilityTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.abilityImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f0f0f0;
  padding: 10px;
  filter: drop-shadow(0px 0px 10px #f0f0f0);
  margin-bottom: 1em;
}

.AbilityDescription {
  margin: 1em 0;
  align-items: center;
  align-content: center;
  height: calc(100% - 251px);
}
* {
  scroll-behavior: smooth;
}
